.parent-hover:hover .v2-nav-dropdown-icon {
    transform: rotate(-180deg);
}


/* Initial hidden state for the dropdown */
.v2-nav-dropdown {
    opacity: 0;
    transform: translateY(8px);
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  }
  
  /* On hover, move the dropdown to its normal position */
  .v2-nav-dropdown-toggle:hover + .v2-nav-dropdown {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
  